<header>
    <h1>Test Tech Blog</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <link rel="stylesheet" href="/header.css">
        </ul>
    </nav>
</header>
