<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>
        <h1>My Blog</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; The Test Tech Blog</p>
    </footer>
        <script src="/../app.js"></script>
    <script src="/../authMiddleware.js"></script>
    <script src="/../controllers/authController.js"></script>
    <script src="/../controllers/blogController.js"></script>

</body>
</html>
